.hide {
	display: none;
}

.cell.selected {
	outline: blue;
	outline-style: solid;
}

/*.cell.selected:focus {
	outline: blue;
	outline-style: solid;
}*/

/*.cell:focus {
	outline: none;
}*/

.inline { 
    display: inline-block;
    margin: 3px;
}

.param_to_select:hover {
	background-color: lightgrey;
	outline: black;
	outline-style: solid;
}

.error {
	outline: red;
	outline-style: solid;
}